<% include ../styling/header %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center;">Create a new Campsite</h1>
		<div style="width:30%; margin: 30px auto;">
			<form action="/campsites" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<input class="form-control" type="text" name="campsite[name]" placeholder="name">
				</div>
				<div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
				<div class="form-group">
					<input class="form-control" type="text" name="campsite[location]" placeholder="Where is it located?" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="campsite[description]" placeholder="Describe your campsite">
				</div>

				<h3> More Features:</h3>
				<div class="form-group">
					<input type="checkbox" name="campsite[features]" value="Toilets"> Toilets<br>
				</div>
				<div class="form-group">
					<input type="checkbox" name="campsite[features]" value="Trash"> Trash<br>

				</div>
				<div class="form-group">
					<input type="checkbox" name="campsite[features]" value="PicnicTable"> Picnic Tables<br>

				</div>
				<div class="form-group">
					<input type="checkbox" name="campsite[features]" value="Barbeque"> Barbeque <br>

				</div>

				<h3> Activities: </h3>

				<div class="form-group">
						<input type="checkbox" name="campsite[activities]" value="Biking"> Biking<br>
				</div>

				<div class="form-group">
					<input type="checkbox" name="campsite[activities]" value="Fishing" > Fishing<br>
				</div>

				<div class="form-group">
					<input type="checkbox" name="campsite[activities]" value="Paddling" > Paddling<br>
				</div>

				<div class="form-group">
					<input type="checkbox" name="campsite[activities]" value="Swimming" > Swimming<br>
				</div>

				<div class="form-group">
					<input type="checkbox" name="campsite[activities]" value="Boating" > Boating<br>
				</div>

				<div class="form-group">
					<input type="checkbox" name="campsite[activities]" value="Hiking" > Hiking<br>
				</div>

				<div class="form-group">
					<input type="checkbox" name="campsite[activities]" value="SnowSports" > Snow sports<br>
				</div>

				<div class="form-group">
					<input type="checkbox" name="campsite[activities]" value="Wildlife" > Wildlife watching<br>
				</div>



				<div class="form-group">
					<button class="btn btn-success btn-block">Submit!</button>
				</div>
			</form>
			<a href="/campsites">Go back</a>
		</div>
	</div>
</div>


<% include ../styling/footer %>
