body {

	padding-top: 70px;
}


#userGreeting
{
	font-family: 'Love Ya Like A Sister', cursive;
	text-align: center;

}

#searchdesc 
{
		text-align: center;

}

.delete-form{
	
	display: inline;
}

#hiddencampersgreeting
{
	font-family: 'Luckiest Guy', cursive;

}

.userprofile
{
	font-family: 'Amatic SC', cursive;
	font-size : 25px;
	font-weight: bold;

}


.profilethumbnail
{
	color : black;
}

h4 
{

	font-family: 'Poiret One', cursive;
	font-size : 24px;
	font-weight: bold;

}

h5 
{
	font-family: 'Trocchi', serif;
}

h4 span
{
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
	color : rgb(220,20,60);
}